.shopping {
  background-color: #bfa17f;
  position: relative;
  justify-content: center;
}

.shoppingArea {
  max-width: 76%;
  min-height: auto;
  margin: auto;
  text-align: center;
  padding-top: 5.375rem;
  padding-bottom:5.375rem;
}

.shoppingHeading {
  text-align: center;
}

.shoppingMenu {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #432f1a;
}

.ourCoffee {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 8.75rem;
  line-height: 9rem;

  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #7f5837;
}

.shoppingItems {
  margin-top: 3rem;
}

.itemHeading {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #432f1a;
}

.itemRow {
  display: flex;
  margin-top: 1.5rem;
}

.productItem {
  position: relative;
  width: 25%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.productImg {
  max-width: 100%;
}

.addToCartBtn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #7f5837;
  border-radius: 5rem;
}

.addToCartBtn:hover {
  background-color: #5E3F2C;
}

.productContent {
  text-align: left;
}

.productHeading {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 0.6rem;

  color: #432f1a;
}

.productDesc {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1rem;
  margin-bottom: 0.6rem;

  color: #000000;
}

.productPricing {
  display: flex;
}

.pricingRs {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.7rem;

  color: #432f1a;
}

.pricingAmt {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3rem;
  /* identical to box height */

  color: #432f1a;
}
