.customize {
  position: relative;

  width: 100%;
  height: 100%;
  background-color: #533727;
}

.customizeArea {
  max-width: 76%;
  min-height: 100%;
  margin: auto;
  text-align: center;
}

.customizeHeading {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 8.75rem;
  line-height: 13.1875rem;
  /* identical to box height */

  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding-top: 2.625rem;

  color: #bfa17f;
}

.comingSoon {
  font-family: "Spline Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* identical to box height */

  color: #bfa17f;
}
