.photos {
  max-width: 100%;
  min-height: 100%;
  background-color: #7f5837;
  position: relative;
}

.photosArea {
  max-width: 76%;
  min-height: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 7rem;
}

.photosHeading {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  font-size: 8.75rem;
  line-height: 13.1875rem;
  /* identical to box height */

  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding-top: 2.625rem;
  margin-bottom: 2rem;

  color: #432F1A;
}

.photosRow {
  display: flex;
}

.polaroid {
    width: 25%;
    min-height: 20rem;
    background-color: white;
    margin-right: 0.5rem;
    padding: 1.2rem;
}

.polaroidFrame {
    min-height: 86%;
}

.polaroidPhoto {
  max-width: 100%;
}